# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.py[cod]

# Настройки PyCharm
.idea/

# Логи
*.log

# Модели (самые тяжелые файлы)
server/models/*.pth
server/models/*.onnx
server/models/*.h5

# Результаты работы (аудио)
server/output/*
!server/output/.gitkeep

# Временные файлы
server/temp/*
!server/temp/.gitkeep

# Прочие системные файлы
.DS_Store
Thumbs.db